@import '../assets/variables.scss';

.login-screen {
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;

    button {
        cursor: pointer;
        display:flex;
        justify-content:center;
        align-items: center;
        span{
            margin-left: 10px;
        }
    }

    button[disabled]{
        cursor:not-allowed;
        background-color:#6da8dc;
    }

    .background-illustration {
        z-index: 0;
        position: absolute;
        right: 7rem;
        width: 60vw;
    }

    &__title {
        color: $dark-gray;
        text-align: center;
    }

    &__description {
        color: $mid-gray;
        font-size: 0.8rem;
        margin: 40px 0;
        text-align: justify;
    }

    &__form {
        display: flex;
        flex-direction: column;
        label{
            font-size: 14px;
            color: #303030;
            margin-bottom: 5px;
        }
    }

    &__input {
        border: none;
        border-radius: 5px;
        background-color: white;
        box-shadow: 6px 4px 8px -5px rgba(0, 0, 0, 0.18);
        font-size: 14px;
        padding: 12px 12px;
        font-family: Open Sans;
        margin-bottom: 15px
    }

    &__input:last-of-type {
        margin-bottom: 30px
    }

    &__input::placeholder {
        color: #949494;
    }

    &__submit {
        display: flex;
        align-items: center;
        align-self: center;
        font-family: Open Sans;
        font-weight: 700;
        background: $main-blue;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 5px;
        width: 180px;
    }

    &__or-text {
        margin: 0.75rem auto
    }

    &__salesforce {
        display: flex;
        align-items: center;
        align-self: center;
        font-family: Open Sans;
        font-weight: 700;
        background: rgb(61, 163, 223);
        color: white;
        width: 180px;
        padding: 10px;
        border: none;
        border-radius: 5px;
    }

    .salesforce-icon {
        width: 20px;
        margin-right: 7.5px
    }
}