@import "../assets/variables";

.card-header__leftArea {
    display: flex;
    width: 100%;
}

.cardContent {
    width: 100%;
    display: flex;
    flex-direction: column;

    &__heading {
        color: $dark-gray;
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
        word-break: break-all;
    }

    &__description {
        text-align: justify;
    }

    &__actions {
        margin-top: 2.5px;
    }

    &__tags {
        margin-top: 0px
    }
    p{
        margin-bottom: 8px;
    }
    &__body {
        &__subtitle {
            font-weight: 700;
        }
        &__content {
            margin-bottom: 16px;
            svg{
                margin-right: 4px;
            }
        }
        &__content:last-child {
            margin-bottom: 0px;
        }
    }
}

.summaryBody{
    &__title{
        width: 100%;
        margin-left: 12px;
    }
}