@import "../assets/variables";

.card-header__leftArea {
    display: flex;
    width: 100%;
}

.cardContent {
    width: 100%;
    display: flex;
    flex-direction: column;

    &__heading {
        color: $dark-gray;
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
        word-break: break-all;
    }

    &__description {
        text-align: justify;
    }

    &__tags {
        margin-top: 10px
    }
    p{
        margin-bottom: 8px;
    }
}

.summaryBody{
    &__title{
        width: 100%;
    }
}