@import '../assets/variables.scss';

.main-wrapper {
    color: $dark-gray;

    .page-title {
        margin: 1rem 0;
    }

    .page-description {
        margin-bottom: 2rem;
    }
    .about.page-description{
        text-align: justify;
    }

    .page-mainContainer {
        padding: 0 7vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .page-newContainer {
        margin-bottom: 2rem;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        .developers, .team-members {
            h4{
                margin-bottom: 8px;
                color: #6b6b6b;
            }
            p{
                font-size: 14px;
                letter-spacing: 0.5px;
                margin: 4px 0px;
                span{
                    font-weight: 500;
                    margin-left: 5px;
                }
            }
        }
        .resources{
            div{
                margin: 4px 0px;
            }
            a {
                font-weight: 600;
                transition: 0.4s;
                color: $main-blue;
            }
            a:hover {
                color: #3F81F3;
            }
        }
        .MuiAccordion-root{
            margin-top: 0px;
        }
    }
}
.MuiDialogTitle-root{
    position: relative;
}
.issues-bugs{
    .form{
        .MuiTextField-root{
            background: white;
            margin: 8px 0px;
        }
    }
}
.issues-bugs-link{
    transition: 0.4s;
    color: $main-blue;
    cursor: pointer;
}
.issues-bugs-link:hover{
    color: #3F81F3;
}
.MuiDialogActions-root{
    padding: 12px 24px!important;
}