@import '../assets/variables.scss';

.main-wrapper {
    color: $dark-gray;

    .page-title {
        margin: 1rem 0
    }

    .page-description {
        margin-bottom: 2rem
    }

    .page-mainContainer {
        padding: 0 7vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .page-newContainer {
        padding: 0 7vw;
        display: flex;
        align-items: left;
        justify-content: space-between;
        flex-direction: column;
        .developers, .team-members {
            h3{
                margin-bottom: 8px;
                color: #6b6b6b;
            }
            p{
                font-size: 14px;
                letter-spacing: 0.5px;
                margin: 4px 0px;
                span{
                    font-weight: 500;
                    margin-left: 5px;
                }
            }
        }
        .resources{
            div{
                margin: 4px 0px;
            }
        }
        .issues-bugs{
            .title{
                text-align: center;
            }
            .fields{
                margin-top: 12px;
                .half{
                    padding-right: 8px;
                    width: 50%;
                    box-sizing: border-box;
                }
            }
            .text-area{
                margin-bottom: 12px;
            }
            .actions{
                text-align: center;
            }
        }
    }
}